<ion-app>
  <!-- <ion-router-outlet></ion-router-outlet> -->
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Anjink
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="ion-padding">
  
      <p>FaceScan Api Test V1.5</p>
  
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <img
              allFaces
              [with]="['expressions', 'landmarks']"
              [src]="imageSrc"
              crossorigin="anonymous"
              width="300px" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
</ion-app>