<ion-header>
  <ion-toolbar>
    <ion-title>
      Anjink
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <p>FaceScan Api Test V1.5</p>

    <ion-grid>
      <ion-row>
        <!-- <ion-col class="ion-text-center" size="12">
          <div #videoContainer></div>
        </ion-col> -->
        <ion-col class="ion-text-center">
          <img allFaces [src]="imageSrc" width="300px" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>